/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Heading-400";
  src: url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Heading-600";
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Body";
  src: url(./assets/fonts/OpenSans-VariableFont_wdth_wght.ttf);
  font-weight: 400;
}

/* CSS Variables */
:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

html {
  font-size: 100%;
}

body {
  font-family: "Body";
  background-image: url(./assets/images/bg-desktop.svg);
  background-color: var(--Violet);
  padding: 4rem;
}

main {
  display: flex;
  align-items: center;
  gap: 2rem;
}

:where(article h1, article p) {
  color: white;
}

article p {
  margin-bottom: 2rem;
}

.button {
  background-color: white;
  color: var(--Violet);
  padding: 1rem 3rem;
  border-radius: 2rem;
}

a {
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

li {
  list-style-type: none;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 1.5rem;
  color: white;
  font-size: 1.75rem;
  border: 1px solid white;
  border-radius: 50%;
}

/* .fa {
  font-size: 1.75rem;
  color: white;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50%;
} */

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
